{% extends 'base.html' %}
{% block content %}
<header>
    <h1>Rental Guruji</h1>
    <p>Your go-to platform for all your rental needs</p>
</header>

<section>
    <h2>About Us</h2>
    <p>Welcome to Rental Website, where we make finding and renting items easy and convenient. Whether you need tools
        for a DIY project, equipment for an event, or a vehicle for your travels, we've got you covered.</p>

    <p>Our mission is to provide a seamless rental experience, connecting renters with reliable and high-quality
        items from trusted suppliers. We believe in the sharing economy and the positive impact it can have on
        communities by promoting sustainability and resourcefulness.</p>

    <p>Explore our platform to discover a wide range of rental options. Our user-friendly interface and secure
        payment system make the rental process hassle-free. Have questions or need assistance? Our support team is
        ready to help.</p>
</section>

<footer>
    <p>&copy; 2023 Rental Guruji. All rights reserved.</p>
</footer>
{% endblock %}