<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'rental_app/css/base.css' %}">
    <script src="{% static 'rental_app/js/base.js' %}"></script>
    <title>Document</title>
</head>
<body>
    <div class="navbar">
        <!-- <h1>Hello</h1> -->
        <nav>
            <div class="menu-icon">
               <span class="fas fa-bars"></span>
            </div>
            <div class="logo">
               Rental Site
            </div>
            <div class="nav-items">
               <li><a href="#">Home</a></li>
               <li><a href="#">About</a></li>
               <li><a href="#">Blogs</a></li>
               <li><a href="#">Feedback</a></li>
            </div>
            <!-- <div class="search-icon">
               <span class="fas fa-search"></span>
            </div> -->
            <div class="cancel-icon">
               <span class="fas fa-times"></span>
            </div>
            <!-- <form action="#">
               <input type="search" class="search-data" placeholder="Search" required>
               <button type="submit" class="fas fa-search"></button>
            </form> -->
            <div class="nav-items-right">
               <li><a href="#">Contact Us</a></li>
               <li><a href="#">Sign In/Register</a></li>
            </div>
         </nav>
    </div>
    <div class="container">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>