<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'rental_app/css/base.css' %}">
    <link rel="stylesheet" href="{% static 'rental_app/css/index.css' %}">
    <script src="{% static 'rental_app/js/base.js' %}"></script>
    <title>Rental Guruji</title>
</head>
<body>
   {% load socialaccount %}
    <div class="navbar">
        <nav>
            <div class="menu-icon">
               <span class="fas fa-bars"></span>
            </div>
            <div class="logo">
               Rental Guruji
            </div>
            <div class="nav-items">
               <li><a href="/">Home</a></li>
               <!-- Dropdown menu -->
               <li class="dropdown">
                  <a href="#" class="dropbtn">Rent</a>
                  <div class="dropdown-content">
                     <a href="#">Rental</a>
                     <a href="#">Rental and Fooding</a>
                     <a href="#">Lease</a>
                  </div>
               </li>
               <li><a href="/about">About</a></li>
            </div>
            <div class="cancel-icon">
               <span class="fas fa-times"></span>
            </div>
            <div class="nav-items-right">
               <li><a href="#">Contact Us</a></li>
               {% if not user.is_authenticated %}
               <li><a href="{% provider_login_url 'google' %}?next=/">Sign In/Register</a></li>
               {% endif %}
               {% if user.is_authenticated %}
               <li><a href="{% url 'account_logout' %}?next=/">Logout</a></li>
               {% endif %}
            </div>
         </nav>
         
         
         
    </div>
    <div class="container">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>