{% extends 'base.html' %}
{% block content %}
<form action="/createproduct" method="post">
    {% csrf_token %} 
    <h2>Create Listing</h2>

    <label for="name">Name:</label>
    <input type="text" id="name" name="name" required>

    <label for="email">Email:</label>
    <input type="email" id="email" name="email" required>

    <label for="address">Address:</label>
    <textarea id="address" name="address" rows="4" required></textarea>

    <label for="state">State:</label>
    <select id="product" name="state" required>
        <option value="product1">Select State</option>
        <option value="product1">Andhra Pradesh</option>
        <option value="product1">Anurachal Pradesh</option>
        <option value="product1">Assam</option>
        <option value="product1">Bihar</option>
        <option value="product1">Chhattisgarh</option>
        <option value="product1">Goa</option>
        <option value="product1">Gujarat</option>
        <option value="product1">Haryana</option>
        <option value="product1">Himachal Pradesh</option>
        <option value="product1">Jharkhand</option>
        <option value="product1">Karnataka</option>
        <option value="product1">Kerala</option>
        <option value="product1">Madhya Pradesh</option>
        <option value="product1">Maharashtra</option>
        <option value="product1">Manipur</option>
        <option value="product1">Meghalaya</option>
        <option value="product1">Mizoram</option>
        <option value="product1">Nagaland</option>
        <option value="product1">Odisha</option>
        <option value="product1">Punjab</option>
        <option value="product1">Rajasthan</option>
        <option value="product1">Sikkim</option>
        <option value="product1">Tamil Nadu</option>
        <option value="product1">Telengana</option>
        <option value="product1">Tripura</option>
        <option value="product1">Uttar Pradesh</option>
        <option value="product1">Uttrakhand</option>
        <option value="product1">West Bengal</option>
        <!-- Add more product options as needed -->
    </select>

    <label for="product">House Size:</label>
    <select id="product" name="product" required>
        <option value="product1">1 BHK</option>
        <option value="product1">2 BHK</option>
        <option value="product1">3 BHK</option>
        <option value="product1">1 RK</option>
        <!-- Add more product options as needed -->
    </select>

    <label for="food">Food</label>
    <select id="food" name="food" required>
        <option value="product1">Included</option>
        <option value="product2">Not Included</option>
        <!-- Add more product options as needed -->
    </select>

    <label for="comments">Additional Comments:</label>
    <textarea id="comments" name="comments" rows="4"></textarea>

    <input type="submit" class="btn" value="Create">
    
</form>
{% endblock %}