{% extends 'base.html' %}
{% block content %}
<h1 class="heading">Top Picks for You</h1>
<div class="wrapper">
    <h1>Kolkata</h1>
    <div class="image i1"></div>
    <div class="details"><h1><em>Food Included</em></h1>
    <h2>Ground Floor</h2>
    <p>1 BHK</p></div>
    <h1>700 ₹/night</h1>
</div>
<div class="wrapper">
    <h1>Shantipur</h1>
    <div class="image i1"></div>
    <div class="details"><h1><em>Food Included</em></h1>
    <h2>Ground Floor</h2>
    <p>1 BHK</p></div>
    <h1>600 ₹/night</h1>
</div>
<div class="wrapper">
    <h1>Ranaghat</h1>
    <div class="image i1"></div>
    <div class="details"><h1><em>Food Included</em></h1>
    <h2>Ground Floor</h2>
    <p>2 BHK</p></div>
    <h1>300 ₹/night</h1>
</div>
<div class="wrapper">
    <h1>kalyani</h1>
    <div class="image i1"></div>
    <div class="details"><h1><em>Food Included</em></h1>
    <h2>Ground Floor</h2>
    <p>1 BHK</p></div>
    <h1>500 ₹/night</h1>
</div>

<!-- <footer>
    <p>&copy; 2023 Your Website. All rights reserved.</p>
</footer> -->
{% endblock %}