{% extends 'base.html' %}
{% block content %}
<h1 class="heading1">RENT NOW</h1>
<!-- Search bar starts-->
<form action="" method="GET" class="rent-form">
    <input type="text" name="text" class="search" placeholder="Search here!">
    <input type="submit" name="submit" class="submit" value="Search">
</form>
<!-- Search bar ends -->
{% for part in context %}
<div class="wrapper">
    <h1>{{part.city}}</h1>
    <div class="image i1"></div>
    <div class="details"><h1><em>Food {{part.food}}</em></h1>
    <h2>{{part.name}}</h2>
    <p>{{part.house}}</p></div>
    <h1>{{part.cost}} ₹/night</h1>
    <button>Rent</button>
</div>
{% endfor %}

{% endblock %}